@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  padding-bottom: 0px;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #0365f8;
  --white: #fcfafa;
  --tw-color1: #0ea8f0;
  --tw-color1-hover: #000000;
}

body {
  background: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--white);
  display: flex;
  margin: 0;
  text-align: center;
  cursor: crosshair;
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
}


.btn {
  flex: 1 1 auto;
  font-size: 25px;
  margin: 10px;
  padding: 10px;
  width: 160px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: rgb(7, 6, 6);
  box-shadow: 0 0 20px rgb(34, 34, 34);
  border-radius: 10px;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;

 }

.btn:hover {
  background-position: right center; 
}

.btn-5 {
  background-image: linear-gradient(to right, 
  #cd6ef8 0%, rgb(214, 109, 255) 25%, #02fc17 100%);
}

.footer {
  position: relative;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0rem;
  text-align: center;
  margin-top: 140px;
  
}

a {
  color: rgb(5, 216, 16);
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.sec {
  height: 120px;
  width: 100%;
  overflow-x: 0px;
}

.wallet-adapter-button.wallet-adapter-button-trigger {
  color: rgb(5, 5, 5);
  background-color: #09eafa;
}

.wallet-adapter-button-trigger:hover {
  color: rgb(4, 252, 16);
  background-color: #f6f5f7;
}



